.home-navbar {
    padding: 0;
    margin: 0;
    height: 7vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-size: 17px;
    opacity: 0.7;
    .logo {
        font-family:'Handlee', cursive;
        font-size: 28px;
        font-weight: 800;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 10px;
    }
    
    a:hover {
        font-size: 20px;
        font-weight: 700;
    }
    
    a.logo:hover {
        font-size: 32px;
        font-weight: 800;
    }    
}

#hero { 
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/portada2.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 530px;
    opacity: 0.9;
    filter: blur(0.7px);
    -webkit-filter: blur(0.7px);

    .title {
        width: 40vw;
        padding: 40px;
        border: 2px solid white;
        border-left: none;
        position: relative;
        font-size: 36px;
        margin: 7% 5%;
        color:white;
    }

    .title:before {
        color:white;
        position: absolute;
        content: '|';
        top: -6.4%;
        left: -0.5%;
    }

    .title:after {
        color:white;
        position: absolute;
        content: '|';
        bottom: -2%;
        left: -0.5%;
    }
    .card-container {
        width: 53vw;
        height: 130px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 3%;
        opacity: 0.2px;
        flex-shrink: 0;
    }
    .card {
        height: 130px;
        width: 180px;
        background-color: #ffa36d;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        flex-shrink: 0;
        color:white;
        text-align: center;
    }

    .card:hover {
        height: 140px;
        width: 190px;
    }

    .card i {
        font-size: 30px;
    }
    
}

