@import "variables";
.dashboard {
    display:flex;
    flex-direction: row;
    color: #333;
    .aside {
        width: 230px;
        height: calc(150vh - 7.5vh);
        flex-shrink: 0;
        background-color: #f9f9f9;
        padding: 20px 0px;
    }
    .search-input {
        height: 35px;
        width: 215px;
        margin: 10px 0px 10px 5px;
        background-color: $color2;
        border-color: transparent;
        border-radius: 0.5em;
        box-shadow: 0 4px 7px -6px $color4;
        justify-content: center;
        align-items: center;
        
        input {
            height: 35px;
            background: transparent;
            border: none;
            bottom: 0;
            box-sizing: border-box;
            left: 0;
            margin: 0;
        }
        button {
            height: 33px;
            width: 38px;
            background-color: $color-theme;
            color: $color2;
            border: transparent;
            border-radius: 0.5em;
            margin: 1px;
            cursor: pointer;
        }
        i {
            margin: 0;
            padding: 0;
            font-size: 18px;
            text-align: center;
        }
        
    }
    .search-option {
        margin: 20px 10px 20px 3px;
        border-bottom: 2px solid $color1;
    }
    h3 {
        // padding-left: 3px;
        // padding-bottom: 5px;
        padding: 5px 0px;
    }
    .icon-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: -10px; 
        i {
            cursor: pointer;
        }
        i:active, i:focus, i:hover {
            color:$color1;
        }
    }
    
   

    .radio-button-group {
        margin: 0 15px 5px 15px;
        input {
            display: none;
        }
        label {
            position: relative;
            cursor: pointer;
        }
        label:before {
            content:'';
            border: 2px solid $color1;
            padding: 7px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
          }
          input:checked + label:after {
            content: '';
            border: solid $color1;
            border-width: 0 1.5px 1.5px 0;
            position: absolute;
            transform: rotate(45deg);
            top: 5px;
            left: 6px;
            width: 5px;
            height: 8px;
          }
    }

    .card-container {
        margin: 50px 80px 0px 80px;
        width: calc(100vw - 230px);
        height: calc(145vh - 7.5vh);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 30px;
        align-items: center;
        justify-items: center;
    }

    .card-pet{
        border-radius: 10px;
        width: 80%;
        height: auto;
        box-shadow: 0px 0px 12px rgba(0,0,0,.1);
        padding: 20px;
        text-align: center;
        h2 {
            margin-bottom: 20px;
        }
        i {
            color:lightgray;
            margin-bottom: 30px;
        }
    }
    .pet-details {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4,1fr);
        grid-gap: 5px 20px;
        color: #515151;
    }
    .item {
        justify-self: flex-start;
        font-weight: 600;
        text-decoration: underline;
    }
    .item-detail {
        justify-self: flex-end;
    }
    .card-pet-more {
        background-color: $color-theme;
        color: $color2;
        font-size: 16px;
        font-weight: 600;
        padding: 5px 10px;
        border:none;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px 0px 10px 0px;
    }
}

.info-pet-details {
    display:flex;
    justify-content: center;
    margin: 50px 0px;
    justify-content: center;
    text-align: center;

   .card-full-details {
    border-radius: 10px;
    width: 720px;
    flex-shrink: 0;
    height: auto;
    box-shadow: 0px 0px 12px rgba(0,0,0,.1);
    padding: 20px;
    

    .general-full-details{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 50px;
    }
    .image-full-details {
        width: 220px;
    }
    .description-full-details {
        align-self: flex-start;
        width: 500px;
        text-align: left;
        padding: 0px 50px;
    }
    h2 {
        margin-bottom: 20px;
    }
    .image-full-details {
        color:lightgray;
        margin-bottom: 30px;
    }

    .item-detail {
        display:grid;
        grid-template-columns: 140px 300px;
        font-size: 17.5px;
        padding: 6px;
        grid-gap: 0 20px;
    }

    span {
        font-weight: 600;
        text-decoration: underline;
    }

    p {
        padding: 0;
        margin: 0;
    }

   }
}


.card-pet-options {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .fa-heart {
        color:red;
        font-size: 35px;
    }
    .fa-comments {
        color:#5bc0de;
        font-size: 35px;
    }
}

.btn-like {
    background-color: transparent;
    height: 36px;
    border-color: transparent;
    border-radius: 50%;
    
}
.btn-comment {
    background-color:transparent;
    color:white;
    height: 36px;
    border-color: transparent;
    border-radius: 50%;
    // padding: 3px 8px;
}

.btn-adopt {
    background-color: $color-theme;
    color:white;
    height: 36px;
    border-color: transparent;
    border-radius: 5px;
    padding: 3px 8px;
}

hr {
    border-top: 1px solid #d4d4d4;
    text-decoration: underline;
    margin: 30px 0px 20px 0px;
}

.commets-container {
    display:flex;
    border: 1px solid #d4d4d4;
    padding-left: 15px;
    border-radius: 5px;
    width: 500px;
    margin: 20px 0px;

    input {
        height: 35px;
        width: 450px;
        border: transparent;


    }

    button {
        background-color: $color-theme;
        color:white;
        height: 37px;
        border-color: transparent;
        padding: 3px 8px;
        border-radius: 0px 5px 5px 0px;
    }
}

.comment-detail {
    display:flex;
    flex-direction: row;
    margin: 20px 0px;
    text-align: left;
    margin: 30px 40px;

    i {
     color:#d4d4d4;
    }

    .coment-text {
        margin-left:20px;
    }
}

    /* ---------estilos de human register---------*/

    .container-humano{

        .flat-form{

    background: #FFAC7C;
    margin: 25px auto;
    width: 500px; /*poner enmedio*/
    height: 700px;/*largo*/
    font-size: 30px;
    filter: blur(0.4px);
    border-radius: 6px;

}

.flat-form h2 {
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'handlee', cursive;
}

.flat-form p {

    font-size: 17px;
    padding-bottom: 5px;
    line-height: 20px;
}

form input[type=text],
form input[type=password],
form input[type=date]
 {
  width: 85%;
  height: 40px;
  font-size: 20px;  
  background: #fff;
  border: 1 px;
  outline: none;
  font-family: 'Arial';
}


.flat-form{
background: #FFAC7C;
margin: 25px auto;
width: 500px; /*poner enmedio*/
height: 700px;/*largo*/
font-size: 30px;
filter: blur(0.4px);
border-radius: 6px;

}

.tabs {
    height: 50px;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    width: 100%;
    position: relative;
    display: block;
    /*display: flex;
    flex-direction: column;*/
    margin-bottom: 0px;
}

.tabs li{
    display: block;
   /* float: left;*/

}
.tabs li:last-child {
    border-right: none;
    width: 174px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.registrar {
display:flex;
}

.selection2{
display: flex;
height: 100px; 
justify-content: center;
}





.button-2{
/*border: none;  
background: #136899;
color: #ffffff;
border-radius: 5px;
    /*box-shadow: 0px 3px 1px #2075aa;*/
  
     
margin: 25px auto;
width: 90px; /*poner enmedio*/
height: 40px;/*largo*/
font-size: 30px;
filter: blur(0.4px);
display: flex;
background: #55ACEE;
border-radius: 5px;
border: none;
}

.button-2:active{
color: #3B5998;
}
.button-2:hover{
    font-size: 30px;
    opacity: 0.7;

}



}
