
body {
    font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
.font-theme {
    font-family:'Handlee', cursive;
}
nav {
    padding: 0;
    margin: 0;
    height: 7vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-size: 17px;
    opacity: 0.7;
}
nav .logo {
    font-family:'Handlee', cursive;
    font-size: 28px;
    font-weight: 800;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav a:hover {
    font-size: 20px;
    font-weight: 700;
}

nav a.logo:hover {
/* color: #ffa36d; */
font-size: 32px;
font-weight: 800;
}

#hero { 
    /* background-image: url('../images/portada2.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/portada2.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 530px;
    opacity: 0.9;
    filter: blur(0.7px);
    -webkit-filter: blur(0.7px);
}

.title {
    width: 40vw;
    padding: 40px;
    border: 2px solid white;
    border-left: none;
    position: relative;
    font-size: 36px;
    margin: 7% 5%;
    color:white;
}

.title:before {
    color:white;
    position: absolute;
    content: '|';
    top: -6.4%;
    left: -0.5%;
}

.title:after {
    color:white;
    position: absolute;
    content: '|';
    bottom: -2%;
    left: -0.5%;
}
.card-container {
    width: 53vw;
    height: 130px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 3%;
    opacity: 0.2px;
    flex-shrink: 0;
}
.card {
    height: 130px;
    width: 180px;
    background-color: #ffa36d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-shrink: 0;
    color:white;
    text-align: center;
}

.card:hover {
    height: 140px;
    width: 190px;
}

.card i {
    font-size: 30px;
}


.about-us {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-us-image img {
    width: 350px;
    height: 220px;
}

.about-us-details {
    display:flex;
    width: 600px;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    height: 140px;

}
.about-us-details h1 {
    font-size: 30px;
}
.about-us-details p {
   font-size: 18px;
}

.about-us-details span {
    color:  #ffa36d;
    font-style: oblique;
}

.tools {
    background-color: #ffa36d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top:100px;
    padding-top: 20px;
}
.tools .tool-item {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    width: 200px;
    height: 180px;
}


.tools .tools-icon {
    background-color: white;
    color:  #ffa36d;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tools .tools-icon i {
    font-size: 22px;
}

.tools .tools-icon:hover {
   
   
}

.tools .tools-details {
    padding-top: 10px;
}

.tools .tools-details span {
    text-transform: uppercase;
    font-weight: 600;
}

.tools .tools-details p {
    font-size: 15px;
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin:100px 0px;
    
}

.statistics .statistics-item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 250px;

}

.statistics .statistics-item .number {
    font-size: 28px;
    width: inherit;
    align-self: left;
    background-color: #e0e0e0;
    height: inherit;
    display:inherit;
    align-items: inherit;
    justify-content: center;
}

.statistics .statistics-item .detail {
    font-size: 20px;
    background-color: #f9f9f9;
    width: inherit;
    padding-top: 10px;
   
}

.statistics .statistics-item .detail span {
    font-size: 30px;
}


footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(141deg, #f78441 0%, #ffa36d 51%, #f8c5a7 75%);
}

.footer-logo {
    color:white;
    font-size: 15px;
    padding: 20px 45px;
    width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* background:  #f78441; */
    opacity: 0.8;
}
.social {
    font-size: 25px;
    padding-top: 20px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;

  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
  }